.containerd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.image{
}
img{
    width: 100%;
    height: 46vh;
    object-fit: cover;
}
.content_0{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;

}

.content_1{
    /* margin: 2rem 0 0 0; */
}

.content_star{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(159, 161, 156);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
span{
    font-size: 18px;
}

button{
    background: #000;
    color: #fff;
    width: 90%;
    font-size: 35px;
    border-radius: 15px;
}