@import "./scss/colors.scss";
/* @import "./semantic-ui/index.scss"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* h1,
h2,
h3,
h4,
h5 {
  margin: 0;
} */